h1,h2,p,.discription,.title,.menuWrap a{
    color: #c5d1d8;
    background-color: #c5d1d8cc;
    border-radius: 5px;
    max-width: max-content;
}

body{
    position: relative;
    overflow-x: hidden;
    font-family: 'NanumSquareRound',sans-serif;
}

/* header */

#header{
    width: 100%;
    background-color: rgba(250, 250,250,0.3);
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 999;
}
#header .inner { 
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header .logo{
    background: url(../img/logo.svg) no-repeat left center; 
    background-color: #0273b4dd;
    font-size: 0;
    color: transparent;
    width: 60px;
    height: 100%;
}
#header .menuWrap{  
    display: flex;
    gap: 1vw;

}
#header .menuWrap li a{
 padding: 10px 15px;
 border-radius: 5px;
 
}

#header .menuWrap li a:hover{
 color: #ffffff;
 background-color: #FF9D00;
 transition: all .2s ease-in-out;
}

/* section 공통 */

.section{
    width: 100vw;
    height: 100vh;
}

.inner{
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    background-color: #c6eaff23;
}

/* section01 */
.section .inner{
    display: grid;
    align-items: center;
}

.section01 h1{
   font-size: 4vw; 
   margin-bottom: 4vw;
   position: relative;
 }

 .section01 h1::before{
    position: absolute;
    content: "";
    display: block;
    z-index: -1;
    opacity: 0.25;
    left: -4.5vw;
    bottom: -4.5vh;
    width: 60%;
    height: 110%;
    background-image: url(../img/logo_hanja.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* section02 */

.section02 .inner{
    align-items: baseline;
    align-content: baseline;
    padding: 3vw 0;
}
.section02 .inner h2{
    font-size: 3vw;
    margin-bottom: 3vw;
}
.section02 .inner p{
    width: 100%;
    text-align: right;
    margin-bottom: 3vw;
}
.section02 .inner p span{
    display: block;
}
.section02 .inner .ourWork{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2vw;
}

/* footer */
#footer{
    width: 100vw;
    height: 30vh;
}

/* total background style */
/* .section01{
    background-image: url(../img/section01_bg.svg);
    background-repeat: no-repeat;
    background-position: top -60vh right -20vw;
    background-size: 75vw;
} */

body{
    background-image: url(../img/section01_bg.svg),
    url(../img/section02_bg.svg),
    url(../img/section03_bg.svg),
    url(../img/section04_bg.svg);
    background-repeat: no-repeat;
    background-position: top -60vh right -25vw,
    top 50vh left -50vw,
    top 189vh right -8vw,
    top 343vh right -40vw;
    background-size: 80vw,65vw,110vw,60vw
}

/* background object 관련 */
body svg{
    position: absolute;
    top: 0;
}
#blobSvg1{
    top: -75%;
    width: 100vw;
    right: -45%;
}

#blobSvg2{
    top: -40%;
    width: 70vw;
    right: -30%;
}

#blobSvg3{
    top: -40%;
    width: 60vw;
    right: -35%;
    opacity: 0.3;
}
